<!DOCTYPE html>
<html>
<head>
	<title>GYST! | Category</title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
	<script type="text/javascript" src="/js/api-categories.js"></script>
	<style type="text/css">
		#category-color-display {
			height: 2rem;
			width: 2rem;
		}
	</style>
</head>
<body>
	<header>
		<span>
			<a href="/">GYST</a>
		</span>
		<nav>
			<a href="/tasks">Tasks</a>
			<a href="/categories">Categories</a>
		</nav>
	</header>
	<main class="subpage">
		<!-- title of the particular category, color of category, any tasks that are currently in the category, edit button, delete button -->
		<h1 id="category-title"></h1>
		<div class="color">
			<div id="category-color-display"></div>
			<span id="category-color"></span>
		</div>
		<button class="edit-button">Edit</button>
		<button class="delete-button">Delete</button>
	</main>
</body>
	<script type="text/javascript">
		//access api, get a particular category, list it, convert to html
		function populateDetail(category){
			createText("#category-title", category.title);
			createText("#category-color", category.color);
			const categoryColor = document.querySelector("#category-color-display")
			categoryColor.style.backgroundColor = category.color;
		}

		function createText(elementId, value){
			const element = document.querySelector(elementId);
			const text = document.createTextNode(value);
			element.appendChild(text);
		}

		async function render(){
			const id = getCategoryIdFromUrl();
			const category = await getCategory(id);
			populateDetail(category);
		}
		render();

		document.querySelector(".edit-button").addEventListener("click", () => {
			window.location.pathname += "/edit"
		})

		document.querySelector(".delete-button").addEventListener("click", async () => {
			const id = getCategoryIdFromUrl();
			await fetch("/api/categories/" + id, {method: "DELETE"});
			window.location.pathname = "/categories"
		})

	</script>
</html>