<!DOCTYPE html>
<html>
<head>
	<title>GYST! | New Category</title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
</head>
<body>
	<header>
		<span>
			<a href="/">GYST</a>
		</span>
		<nav>
			<a href="/tasks">Tasks</a>
			<a href="/categories">Categories</a>
		</nav>
	</header>
	<main class="subpage item-page">
		<h1>New Category</h1>
			<form action="/api/categories" method="post">
			<section>
				<div class='input-container'>
					<label for='title'>Title</label>
					<input type="text" name="title" id='title' placeholder="Enter title...">
				</div>
				<div class='input-container'>
					<label for='color'>Color</label>
					<input type="color" name="color" id='color' value='#68c19f'>
				</div>
			</section>
			<div class="buttons-container">
				<button class='submit'>Create Category</button> 
			</div>
			</form>
	</main>
</body>
</html>