<!DOCTYPE html>
<html>
<head>
	<title>GYST! | Home</title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
</head>
<body>
	<header>
		<span>
			<a href="/">GYST</a>
		</span>
		<nav>
			<a href="/tasks">Tasks</a>
			<a href="/categories">Categories</a>
		</nav>
	</header>
	<main class="homepage">
		<h1>Get</h1>
		<h1>Your</h1>
		<h1>Sh*t</h1>
		<h1>Together!</h1>
	</main>
</body>
</html>