<!DOCTYPE html>
<html>
<head>
	<title>GYST! | Task Detail</title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
	<script type="text/javascript" src="/js/api-tasks.js"></script>
</head>
<body>
	<header>
		<span>
			<a href="/">GYST</a>
		</span>
		<nav>
			<a href="/tasks">Tasks</a>
			<a href="/categories">Categories</a>
		</nav>
	</header>
	<main class="subpage item-page task-detail">
		<h1 id="task-title"></h1> 
		<!-- title, priority, category, due date, reminder, notes -->
			<section>
				<div class="attribute-container">
					<label>Completed</label>
					<span id="complete" class="value"></span>
				</div>
				<div class="attribute-container">
					<label>Priority</label>
					<span id="priority" class="value"></span>
				</div>
				<div class="attribute-container">
					<label>Category</label>
					<span id="category" class="value"></span>
				</div>
				<div class="attribute-container">
					<label>Due Date</label>
					<span id="due-at" class="value"></span>
				</div>
				<div class="attribute-container">
					<label>Reminder</label>
					<span id="reminder-at" class="value"></span>
				</div>
				<div class="attribute-container">
					<label>Notes</label>
					<span id="notes" class="value"></span>
				</div>
			</section>
			<div class="buttons-container">
				<button class="edit-button">Edit</button>
				<button class="delete-button">Delete</button>
			</div>
	</main>
</body>
	<script type="text/javascript">
		//access api and get particular task data, list it, convert to html
		function populateDetail(task){
			createText("#task-title", task.title);
			createText("#priority", task.priority);
			createText("#category", task.category.title);
			createText("#due-at", formatDate(task.dueAt));
			createText("#reminder-at", formatDate(task.reminderAt));
			createText("#notes", task.notes);
			createText("#complete", task.isComplete ? "Yes" : "No");

		}

		function createText(elementId, value){
			const element = document.querySelector(elementId);
			const text = document.createTextNode(value);
			element.appendChild(text);
		}

		async function render(){
			const taskId = getTaskIdFromUrl();
			const task = await getTask(taskId);
			populateDetail(task);
		}
		render();

		document.querySelector(".edit-button").addEventListener("click", () => {
			window.location.pathname += "/edit"
		})

		document.querySelector(".delete-button").addEventListener("click", async () => {
			const taskId = getTaskIdFromUrl();
			await fetch("/api/tasks/" + taskId, {method: "DELETE"});
			window.location.pathname = "/tasks"
		})

	</script>
</html>
















