<!DOCTYPE html>
<html>
<head>
	<title>GYST! | Task Detail</title>
	<script type="text/javascript" src="/js/api-tasks.js"></script>
</head>
<body>
	<main>
		<h1 id="task-title"></h1> 
		<!-- title, priority, category, due date, reminder, notes -->
			<div>
				Completed:
				<span id="complete"></span>
			</div>
			<div>
				Priority Level
				<span id="priority"></span>
			</div>
			<div>
				Category
				<span id="category"></span>
			</div>
			<div>
				Due Date
				<span id="due-at"></span>
			</div>
			<div>
				Reminder
				<span id="reminder-at"></span>
			</div>
			<div>
				Notes
				<span id="notes"></span>
			</div>
			<button class="edit-button">Edit</button>
			<button class="delete-button">Delete</button>
	</main>
</body>
	<script type="text/javascript">
		//access api and get particular task data, list it, convert to html
		function populateDetail(task){
			createText("#task-title", task.title);
			createText("#priority", task.priority);
			createText("#category", task.category.title);
			createText("#due-at", formatDate(task.dueAt));
			createText("#reminder-at", formatDate(task.reminderAt));
			createText("#notes", task.notes);
			createText("#complete", task.isComplete ? "Yes" : "No");

		}

		function createText(elementId, value){
			const element = document.querySelector(elementId);
			const text = document.createTextNode(value);
			element.appendChild(text);
		}

		function formatDate(date){
			return new Date(date).toLocaleDateString("en-US", {
				weekday: "long",
				month: "long",
				day: "numeric",
				year: "numeric",
				hour: "numeric",
				minute: "2-digit",
			})
		}

		async function render(){
			const taskId = getTaskIdFromUrl();
			const task = await getTask(taskId);
			populateDetail(task);
		}
		render();

		document.querySelector(".edit-button").addEventListener("click", () => {
			window.location.pathname += "/edit"
		})

		document.querySelector(".delete-button").addEventListener("click", async () => {
			const taskId = getTaskIdFromUrl();
			await fetch("/api/tasks/" + taskId, {method: "DELETE"});
			window.location.pathname = "/tasks"
		})

	</script>
</html>
















