<!DOCTYPE html>
<html>
<head>
	<title>GYST! | New Task</title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
	<script type="text/javascript" src="/js/api-categories.js"></script>
</head>
<body>
	<header>
		<span>
			<a href="/">GYST</a>
		</span>
		<nav>
			<a href="/tasks">Tasks</a>
			<a href="/categories">Categories</a>
		</nav>
	</header>
	</header>
	<main class="subpage item-page">
		<h1>New Task</h1>
			<form action="/api/tasks" method="post">
				<section>
				<div class='input-container'>
					<label for= 'title'>Title</label>
					<input type="text" name="title" id='title'>
				</div>
				<div class='input-container'>
					<label for='priority'>Priority</label>
					<div class='radio-container'>
						<input type="radio" name="priority" id="none" value="none" checked>
						<label for="none">none</label>
						<input type="radio" name="priority" id="one" value="!">
						<label for="one">!</label>
						<input type="radio" name="priority" id="two" value="!!">
						<label for="two">!!</label>
						<input type="radio" name="priority" id="three" value="!!!">
						<label for="three">!!!</label>
					</div>
					<div class='input-container'>
						<label for='category'>Category</label>
						<select id='category' name='categoryId'></select>
					</div>
					<div class='input-container'>
						<label for='dueAt'>Due</label>
						<input type="datetime-local" name="dueAt">
					</div>
					<div class='input-container'>
						<label for='reminderAt'>Remind Me</label>
						<input type="datetime-local" name="reminderAt">
					</div>
					<div class='input-container'>
						<label for="notes">Notes</label>
						<textarea rows="3" cols="30" name='notes' id="notes"></textarea>
					</div>
				</div>
				</section>
				<div class="buttons-container">
					<button class='submit'>Create Task</button> 
				</div>
			</form>
	</main>
</body>
<script type="text/javascript">
	async function render(){
		const categories = await getCategories();
		createHTMLCategories(categories); 
	}

	function createHTMLCategories(categories){
		const categorySelect = document.querySelector("#category")
		for(let i = 0; i < categories.length; i++){
			const category = categories[i];
			const option = document.createElement("option");
			option.value = category.id;
			const text = document.createTextNode(category.title);
			option.appendChild(text);
			categorySelect.appendChild(option); 
		}
	}

	render();
</script>
</html>
